<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="new-body">
      <h1>New Animal Form</h1>
      <form action="/animals" method="post" id="newform">
        <label for="spieces">Spieces</label>
        <input type="text" name="spieces" /><br />

        <label for="location">Location</label>
        <input type="text" name="location" /> <br />

        <label for="lifeExpectancy">Life Expectancy</label>
        <input type="text" name="lifeExpectancy" /> <br />

        <label for="extinct">Is animal extinct?</label>
        <input type="checkbox" name="extinct" /><br />

        <input type="submit" value="Add book to the list" />
      </form>
    </div>
  </body>
</html>
